body{
    font-size: 70px;
    color: blue;
    background: #ffffff url(https://sun9-35.userapi.com/impg/kPod-tpSs5HB5IzI3NnvS7QULXFdVVHtDmFotQ/S0fcnt5YxOs.jpg?size=1536x2048&quality=95&sign=f88217003b960168a00c35b8e795b678&type=album) center top/contain repeat content-box;
}